@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Elsie&family=Prata&family=Quicksand:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
  *::selection {
    background-color: #9061AC;
    color: white; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

/*variables*/
/*titulo*/
/*subtitulo*/
/*párrafo*/
/*colores*/
/*maps*/
.tituloIndex, .tituloGaleria, .tituloAgendar {
  font-family: "Prata", serif;
  font-size: 50px;
  color: #9061AC; }

.subtituloIndex, h3, .tituloQuienSoy, .subtituloServicios1, .parrafoAgendar {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  color: #9061AC; }

header nav .menu, .parrafoPresentacion, .parrafoQuienSoy, .parrafoQuienSoy1, .parrafoQuienSoy2, .parrafoServicios1 {
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  color: #9061AC; }

/*mixins*/
/*breaking points*/
/* header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  header .logo {
    opacity: 0.7;
    margin-left: 10px; }
    header .logo:hover {
      opacity: 1;
      transition: all 0.5s; }
    @media (min-width: 768px) {
      header .logo {
        scale: 140%; } }
    @media (min-width: 1021px) {
      header .logo {
        scale: 170%; } }
  header nav .menu {
    list-style-type: none; }
    @media (min-width: 768px) {
      header nav .menu {
        font-size: 20px; } }
    @media (min-width: 1021px) {
      header nav .menu {
        font-size: 30px; } }
    header nav .menu li {
      padding-left: 25px;
      transform: scale(2s); }
      header nav .menu li a {
        text-decoration: none;
        color: #9061AC; }
        header nav .menu li a:hover {
          color: #d2e809;
          font-size: 120%;
          transition: all 0.5s; }

/*footer*/
.footer {
  margin-top: 10px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 10px;
  margin-right: 10px; }
  .footer .fa-instagram {
    color: #9061AC; }
  .footer .fa-angle-up {
    color: #9061AC; }
  .footer a {
    text-decoration: none; }
  @media (min-width: 1021px) {
    .footer {
      margin-left: 30px;
      margin-right: 30px; } }
  .footer .footer-1 {
    font-family: 'Prata', serif;
    font-size: 0.7cm;
    color: #9061AC; }
    @media (min-width: 768px) {
      .footer .footer-1 {
        font-size: 30px; } }
    @media (min-width: 1021px) {
      .footer .footer-1 {
        font-size: 50px; } }
  .footer .footer-2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.3cm;
    color: #b48ad1; }
    @media (min-width: 768px) {
      .footer .footer-2 {
        font-size: 20px; } }
    @media (min-width: 1021px) {
      .footer .footer-2 {
        font-size: 30px; } }
  .footer .footer-3 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 768px) {
      .footer .footer-3 {
        font-size: 20px; } }
    @media (min-width: 1021px) {
      .footer .footer-3 {
        font-size: 30px; } }

.copyright {
  margin-top: 20px;
  background-color: #9061AC;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  text-align: center; }

/*index*/
.index {
  background-image: url("../imagenes/background-index.png");
  background-repeat: no-repeat;
  background-size: cover; }

.flexIndexMobile .img-1 {
  max-width: 200px;
  max-height: 200px;
  margin-left: 10px; }

@media (max-width: 481px) {
  .flexIndexMobile {
    display: flex;
    flex-direction: column; } }

@media (min-width: 481px) {
  .flexIndexMobile {
    display: none; } }

@media (max-width: 481px) {
  .flexIndexDesktop {
    display: none; } }

@media (min-width: 481px) {
  .flexIndexDesktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 10px; }
    .flexIndexDesktop img {
      max-width: 300px;
      max-height: 300px; } }

@media (min-width: 768px) {
  .flexIndexDesktop img {
    max-width: 400px;
    max-height: 400px; } }

@media (min-width: 1021px) {
  .flexIndexDesktop img {
    margin-left: 30px;
    max-width: 600px;
    max-height: 600px; } }

.tituloIndex {
  text-align: right;
  line-height: -5;
  margin-right: 10px; }
  @media (min-width: 768px) {
    .tituloIndex {
      font-size: 100px; } }
  @media (min-width: 1021px) {
    .tituloIndex {
      font-size: 150px;
      margin-right: 30px; } }

.subtituloIndex {
  text-align: right;
  margin-right: 10px; }
  @media (min-width: 768px) {
    .subtituloIndex {
      font-size: 40px; } }
  @media (min-width: 1021px) {
    .subtituloIndex {
      font-size: 60px;
      margin-right: 30px; } }

.parrafoPresentacion {
  padding: 10px; }
  @media (min-width: 768px) {
    .parrafoPresentacion {
      font-size: 20px;
      margin-left: 100px;
      margin-right: 100px;
      margin-top: 50px; } }
  @media (min-width: 1021px) {
    .parrafoPresentacion {
      font-size: 30px; } }

.carousel {
  padding: 35px; }

.instagram {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px; }
  @media (min-width: 1021px) {
    .instagram {
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 30px; } }

.flexIndex {
  display: flex;
  flex-direction: column; }
  .flexIndex img {
    width: 100%;
    height: 100%; }

.img-2 {
  max-width: 300px;
  max-height: 300px; }
  @media (min-width: 768px) {
    .img-2 {
      max-width: 400px;
      max-height: 400px; } }
  @media (min-width: 1021px) {
    .img-2 {
      max-width: 500px;
      max-height: 500px; } }

@media (min-width: 768px) {
  h3 {
    font-size: 40px; } }

@media (min-width: 1021px) {
  h3 {
    font-size: 60px; } }

/*quien soy
.quienSoy {
    background-image: url(../imagenes/background-quiensoy.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
.flexQuienSoy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    img {
        max-width: 100%;
        max-width: 200px;
    }
}
.parrafoQuienSoy {
    text-align: center;
    @extend %parrafoMobile;
    @media (min-width: $medium){
        font-size: $parrafoSizeTablet;
    }
    @media (min-width: $large){
        font-size: $parrafoSizeDesktop;
    }
}
.parrafoQuienSoy1 {
    @extend %parrafoMobile;
    @media (min-width: $medium){
        font-size: $parrafoSizeTablet;
    }
    @media (min-width: $large){
        font-size: $parrafoSizeDesktop;
    }
}
.parrafoQuienSoy2 {
    @extend %parrafoMobile;
    text-align: right;
    @media (min-width: $medium){
        font-size: $parrafoSizeTablet;
    }
    @media (min-width: $large){
        font-size: $parrafoSizeDesktop;
    }
}
.tituloQuienSoy {
    @extend %subtituloMobile;
    @media (min-width: $medium){
        font-size: $subtituloSizeTablet;
    }
    @media (min-width: $large){
        font-size: $subtituloSizeDesktop;
    }
}

.img-3 {
    max-width: 300px;
}*/
/*quien soy opción2*/
.quienSoy {
  background-image: url(../imagenes/background-quiensoy.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden; }

.parrafoQuienSoy {
  text-align: center; }
  @media (min-width: 768px) {
    .parrafoQuienSoy {
      font-size: 20px; } }
  @media (min-width: 1021px) {
    .parrafoQuienSoy {
      font-size: 30px; } }

.parrafoQuienSoy1 {
  margin-left: 10px; }
  @media (min-width: 768px) {
    .parrafoQuienSoy1 {
      font-size: 20px;
      margin-left: 20px; } }
  @media (min-width: 1021px) {
    .parrafoQuienSoy1 {
      font-size: 30px;
      margin-left: 30px; } }

.parrafoQuienSoy2 {
  margin-right: 10px;
  text-align: right; }
  @media (min-width: 768px) {
    .parrafoQuienSoy2 {
      font-size: 20px;
      margin-right: 20px; } }
  @media (min-width: 1021px) {
    .parrafoQuienSoy2 {
      font-size: 30px;
      margin-right: 30px; } }

.parrafoQuienSoy3 {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px; }
  @media (min-width: 768px) {
    .parrafoQuienSoy3 {
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 30px; } }
  @media (min-width: 1021px) {
    .parrafoQuienSoy3 {
      margin-left: 200px;
      margin-right: 200px; } }

@media (min-width: 768px) {
  .tituloQuienSoy {
    font-size: 40px; } }

@media (min-width: 1021px) {
  .tituloQuienSoy {
    font-size: 60px; } }

.flexQuienSoy {
  display: flex;
  flex-direction: column;
  align-items: center; }

.flexQuienSoy2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    .flexQuienSoy2 {
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 30px; } }
  @media (min-width: 1021px) {
    .flexQuienSoy2 {
      margin-left: 100px;
      margin-right: 100px; } }
  .flexQuienSoy2 img {
    max-width: 100%;
    max-width: 100px;
    max-height: 100px; }
    @media (min-width: 768px) {
      .flexQuienSoy2 img {
        max-width: 200px;
        max-height: 200px; } }
    @media (min-width: 1021px) {
      .flexQuienSoy2 img {
        max-width: 350px;
        max-height: 350px; } }

.img-3 {
  max-width: 200px; }
  @media (min-width: 768px) {
    .img-3 {
      max-width: 300px; } }
  @media (min-width: 1021px) {
    .img-3 {
      max-width: 500px; } }

.mapa {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px; }
  @media (min-width: 768px) {
    .mapa {
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 30px; } }
  @media (min-width: 1021px) {
    .mapa {
      margin-left: 200px;
      margin-right: 200px; } }

/*galería*/
@media (min-width: 768px) {
  .tituloGaleria {
    font-size: 100px; } }

@media (min-width: 1021px) {
  .tituloGaleria {
    font-size: 150px; } }

@media (max-width: 768px) {
  .gridGaleriaMobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin-bottom: 15px; } }

.gridGaleriaMobile img {
  width: 100%;
  height: 100%; }

@media (min-width: 768px) {
  .gridGaleriaMobile {
    display: none; } }

@media (min-width: 1021px) {
  .gridGaleriaMobile {
    display: none; } }

@media (max-width: 768px) {
  .gridGaleriaDesktop {
    display: none; } }

@media (min-width: 768px) {
  .gridGaleriaDesktop {
    display: contents;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr); } }

@media (min-width: 1021px) {
  .gridGaleriaDesktop {
    display: contents;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr); } }

.gridGaleriaDesktop img {
  width: 100%;
  height: 100%; }

/*servicios*/
.servicios {
  background-image: url(../imagenes/background-servicios.png);
  background-size: cover; }

.serviciosBoostrap img {
  max-width: 150px;
  max-height: 150px;
  max-width: 100%;
  max-height: 100%; }
  @media (min-width: 768px) {
    .serviciosBoostrap img {
      max-width: 200px;
      max-height: 200px; } }
  @media (min-width: 1021px) {
    .serviciosBoostrap img {
      max-width: 350px;
      max-height: 350px; } }

@media (min-width: 768px) {
  .subtituloServicios1 {
    font-size: 40px; } }

@media (min-width: 1021px) {
  .subtituloServicios1 {
    font-size: 60px; } }

@media (min-width: 768px) {
  .parrafoServicios1 {
    font-size: 20px; } }

@media (min-width: 1021px) {
  .parrafoServicios1 {
    font-size: 30px; } }

/*agendar*/
.agendar {
  background-image: url(../imagenes/background-agendar.png);
  background-repeat: no-repeat;
  background-size: cover; }

.tituloAgendar {
  margin-left: 10px;
  margin-right: 10px; }
  @media (min-width: 768px) {
    .tituloAgendar {
      font-size: 100px;
      margin-left: 30px;
      margin-right: 30px; } }
  @media (min-width: 1021px) {
    .tituloAgendar {
      font-size: 150px; } }

.divFormulario {
  margin-left: 10px;
  margin-right: 10px; }
  @media (min-width: 768px) {
    .divFormulario {
      margin-left: 30px;
      margin-right: 30px; } }

.formulario {
  border-radius: 5px; }
  .formulario:focus {
    outline: 2px solid #9061AC; }

@media (min-width: 768px) {
  .parrafoAgendar {
    font-size: 20px; } }

@media (min-width: 1021px) {
  .parrafoAgendar {
    font-size: 30px; } }

.button {
  font-family: "Prata", serif;
  font-size: 150px;
  background-color: #9061AC; }
