/*.quienSoy {
    background-image: url(../imagenes/background-quiensoy.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.parrafoQuienSoy,
.parrafoQuienSoy1,
.parrafoQuienSoy2, {
    font-family: "Hero";
    font-size: 0.4cm;
    color: #9061AC;
}

.tituloQuienSoy {
    font-family: "Hero";
    font-size: 30px;
    color: #9061AC;
    margin-top: 30px;
    margin-bottom: 30px;
}


.img-3 {
    max-width: 600px;
}



/* media queries quien_soy
@media only screen and (min-width: 481px) {

    .parrafoQuienSoy,
    .parrafoQuienSoy1,
    .parrafoQuienSoy2,
    .parrafoQuienSoy3 {
        font-size: 0.5cm;
    }

    .img-3 {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 768px) {
    .parrafoQuienSoy,
    .parrafoQuienSoy1,
    .parrafoQuienSoy2,
    .parrafoQuienSoy3 {
        font-size: 0.6cm;
    }

    .tituloQuienSoy {
        font-size: 40px;
    }
}

@media only screen and (min-width: 1024px) {
    .img-3 {
        margin-bottom: 35px;
        margin-top: 35px;
        padding: 20px;
    }

    .parrafoQuienSoy,
    .parrafoQuienSoy1,
    .parrafoQuienSoy2,
    .parrafoQuienSoy3 {
        font-size: 0.7cm;
    }

}

@media only screen and (min-width: 1200px) {

    .parrafoQuienSoy,
    .parrafoQuienSoy1,
    .parrafoQuienSoy2,
    .parrafoQuienSoy3 {
        font-size: 0.8cm;
    }

}


 fin media queries quien_soy*/

/*inicio agendar*/
.agendar {
    background-image: url(../imagenes/background-agendar.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.tituloAgendar {
    font-family: "Gangitem";
    color: #9061AC;
    font-size: 2cm;
    margin-bottom: 20px;
}

.formulario{
    border-radius:5px;
}
.formulario:focus{
    outline: 2px solid #9061AC;
}

.parrafoAgendar {
    font-family: "Hero";
    color: #9061AC;
    font-size: 0.7cm;
    margin-bottom: 10px;
    margin-top: 10px;
}

.button {
    font-family: "Gangitem";
    font-size: 0.7;
    margin-top: 10px;
    background-color:#9061AC;
}

/*fin agendar*/

/*media queries agendar*/
@media only screen and (min-width: 768px) {
    .tituloAgendar {
        font-size: 3.5cm;
        margin-bottom: 40px;
        margin-left: 50px;
    }

    form {
        margin-left: 50px;
    }
}

/*fin media queries agendar*/

/*inicio servicios*/
.servicios {
    background-image: url(../imagenes/background-servicios.png);
    background-size: cover;
}

.subtituloServicios1,
.subtituloServicios2,
.subtituloServicios3,
.subtituloServicios4 {
    font-family: "Hero";
    font-size: 20px;
    color: #9061AC;
    margin-left: 25px;
}

.parrafoServicios1,
.parrafoServicios2,
.parrafoServicios3,
.parrafoServicios4 {
    text-align: left;
    text-shadow: #9061AC;
    font-family: "Hero";
    font-size: 0.4cm;
    color: #b48ad1;
    margin-left: 25px;
}

.parrafoPrecio1,
.parrafoPrecio2,
.parrafoPrecio3,
.parrafoPrecio4 {
    font-family: "Hero";
    color: #b48ad1;
    font-size: 0.4cm;
    margin-left: 25px;
    align-content: end;
}

.gridServicios1 {
    margin-bottom: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
        "foto1 subtituloServicios1"
        "foto1 parrafoServicios1"
        "foto1 parrafoPrecio1"
}

.gridServicios2 {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
        "foto2 subtituloServicios2"
        "foto2 parrafoServicios2"
        "foto2 parrafoPrecio2"

}

.gridServicios3 {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
        "foto3 subtituloServicios3"
        "foto3 parrafoServicios3"
        "foto3 parrafoPrecio3"
}

.gridServicios4 {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
        "foto4 subtituloServicios4"
        "foto4 parrafoServicios4"
        "foto4 parrafoPrecio4"
}

.img-9 {
    grid-area: foto1;
    margin-left: 15px;
    max-width: 350px;
}

.img-7 {
    grid-area: foto2;
    margin-left: 15px;
    max-width: 350px;
}

.img-8 {
    grid-area: foto3;
    margin-left: 15px;
    max-width: 350px;
}

.img-10 {
    grid-area: foto4;
    margin-left: 15px;
    max-width: 350px;
}

.subtituloServicios1 {
    grid-area: subtituloServicios1;
}

.subtituloServicios2 {
    grid-area: subtituloServicios2;
}

.subtituloServicios3 {
    grid-area: subtituloServicios3;
}

.subtituloServicios4 {
    grid-area: subtituloServicios4;
}

.parrafoServicios1 {
    grid-area: parrafoServicios1;
}

.parrafoServicios2 {
    grid-area: parrafoServicios2;
}

.parrafoServicios3 {
    grid-area: parrafoServicios3;
}

.parrafoServicios4 {
    grid-area: parrafoServicios4;
}

.parrafoPrecio1 {
    grid-area: parrafoPrecio1;
}

.parrafoPrecio2 {
    grid-area: parrafoPrecio2;
}

.parrafoPrecio3 {
    grid-area: parrafoPrecio3;
}

.parrafoPrecio4 {
    grid-area: parrafoPrecio4;
}

.gridServicios1>img {
    width: 100%;
    height: 100%;
}

.gridServicios2>img {
    width: 100%;
    height: 100%;
}

.gridServicios3>img {
    width: 100%;
    height: 100%;
}

.gridServicios4>img {
    width: 100%;
    height: 100%;
}

/*fin servicios*/

/*media queries servicios*/
@media only screen and (min-width: 481px) {

    .subtituloServicios1,
    .subtituloServicios2,
    .subtituloServicios3,
    .subtituloServicios4 {
        font-size: 30px;
    }

    .parrafoServicios1,
    .parrafoServicios2,
    .parrafoServicios3,
    .parrafoServicios4 {
        font-size: 0.6cm;
    }

    .parrafoPrecio1,
    .parrafoPrecio2,
    .parrafoPrecio3,
    .parrafoPrecio4 {
        font-size: 0.6cm;
    }
}

@media only screen and (min-width: 768px) {

    .subtituloServicios1,
    .subtituloServicios2,
    .subtituloServicios3,
    .subtituloServicios4 {
        font-size: 40px;
    }

    .parrafoServicios1,
    .parrafoServicios2,
    .parrafoServicios3,
    .parrafoServicios4 {
        font-size: 0.7cm;
    }

    .parrafoPrecio1,
    .parrafoPrecio2,
    .parrafoPrecio3,
    .parrafoPrecio4 {
        font-size: 0.7cm;
    }
}

@media only screen and (min-width: 1024px) {

    .subtituloServicios1,
    .subtituloServicios2,
    .subtituloServicios3,
    .subtituloServicios4 {
        font-size: 60px;
    }

    .parrafoServicios1,
    .parrafoServicios2,
    .parrafoServicios3,
    .parrafoServicios4 {
        font-size: 0.9cm;
    }

    .parrafoPrecio1,
    .parrafoPrecio2,
    .parrafoPrecio3,
    .parrafoPrecio4 {
        font-size: 0.9cm;
    }

    .img-9 {
        margin-left: 50px;
    }

    .img-7 {
        margin-left: 50px;
    }

    .img-8 {
        margin-left: 50px;
    }

    .img-10 {
        margin-left: 50px;
    }
}

/*fin media queries servicios*/

/*inicio galería*/
.tituloGaleria {
    font-family: "Gangitem";
    color: #9061AC;
    font-size: 2cm;
    margin-bottom: 20px;
}

.gridGaleriaMobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin-bottom: 15px;
}

.gridGaleriaDesktop {
    display: none;
}

.gridGaleriaMobile>img {
    width: 100%;
    height: 100%;
}

/*fin galería*/

/*media queries galeria*/
@media only screen and (min-width: 768px) {
    .tituloGaleria {
        font-family: "Gangitem";
        color: #9061AC;
        font-size: 3.5cm;
        margin-bottom: 40px;
    }

    .gridGaleriaDesktop {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        margin-bottom: 30px;
    }

    .gridGaleriaMobile {
        display: none;
    }

    .gridGaleriaDesktop>img {
        width: 100%;
        height: 100%;
    }

}

/*fin media queries galeria*/