@font-face {
    font-family: "Hero";
    src: url("../tipografías/HeroLight-Light.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gangitem";
    src: url("../Tipografías/Gangitem.ttf");
    font-weight: normal;
    font-style: normal;
}