
@import "./fuentes";
@import "./reset";
@import "./variables";
@import "./mediaQueries";

/* header */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logo {
        opacity: 0.7;
        margin-left: 10px;
        &:hover{
            opacity: 1;
            transition: all 0.5s;
        }
        @media (min-width: $medium){
            scale: 140%;
        }
        @media (min-width: $large){
            scale: 170%;
        }
    }
    nav{
        .menu{
            @extend %parrafoMobile;
            list-style-type: none;
            @media (min-width: $medium){
                font-size: $parrafoSizeTablet;
            }
            @media (min-width: $large){
                font-size: $parrafoSizeDesktop;
            }
            li{
                padding-left: 25px;
                transform: scale(2s);
                a{
                    text-decoration: none;
                    color: $main-color;
                    &:hover{
                        color: $color3;
                        font-size: 120%;
                        transition: all 0.5s;
            }
        }
    }
        }
    }
}

/*footer*/
.footer {
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 10px;
    margin-right: 10px;
    .fa-instagram{
        color: $main-color;
    }
    .fa-angle-up {
        color: $main-color;
    }
    a{
        text-decoration: none;
    }
    @media (min-width: $large){
        margin-left: 30px;
        margin-right: 30px;
    }
    .footer-1 {
        font-family: 'Prata', serif;
        font-size: 0.7cm;
        color:$main-color;
        @media (min-width: $medium){
            font-size: 30px;
        }
        @media (min-width: $large){
            font-size: 50px;
        }
    }
    .footer-2 {
        font-family: 'Quicksand', sans-serif;
        font-size: 0.3cm;
        color: $color2;
        @media (min-width: $medium){
            font-size: $parrafoSizeTablet;
        }
        @media (min-width: $large){
            font-size: $parrafoSizeDesktop;
        }
    }
    .footer-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: $medium){
            font-size: $parrafoSizeTablet;
        }
        @media (min-width: $large){
            font-size: $parrafoSizeDesktop;
        }
    }
}
.copyright {
    margin-top: 20px;
    background-color: $main-color;
    color:white;
    font-family: $parrafo;
    font-size: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}
/*index*/
.index {
    background-image: url("../imagenes/background-index.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.flexIndexMobile{
    .img-1{
        @include tamañoMaximo (200px,200px);
        margin-left: 10px;
    }
    @media (max-width: $small){
        display: flex;
        flex-direction: column;
    }
    @media (min-width: $small){
        display: none;
    }
}

.flexIndexDesktop{
    @media (max-width: $small){
        display: none;
    }
    @media (min-width: $small){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
        margin-left: 10px;
        img {
            @include tamañoMaximo (300px,300px);
        }
    }
    @media (min-width: $medium){
        img {
            @include tamañoMaximo (400px,400px)
        }
    }
    @media (min-width: $large){
        img {
            margin-left: 30px;
            @include tamañoMaximo (600px,600px)
        }
    }
}
.tituloIndex {
    @extend %tituloMobile;
    text-align: right;
    line-height: -5;
    margin-right: 10px;
    @media (min-width: $medium){
        font-size: $tituloSizeTablet;
    }
    @media (min-width: $large){
        font-size: $tituloSizeDesktop;
        margin-right: 30px;
    }
}
.subtituloIndex {
    @extend %subtituloMobile;
    text-align: right;
    margin-right: 10px;
    @media (min-width: $medium){
        font-size: $subtituloSizeTablet;
    }
    @media (min-width: $large){
        font-size: $subtituloSizeDesktop;
        margin-right: 30px;
    }
}

.parrafoPresentacion {
    @extend %parrafoMobile;
    padding: 10px;
    @media (min-width: $medium){
        font-size: $parrafoSizeTablet;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 50px;
    }
    @media (min-width: $large){
        font-size: $parrafoSizeDesktop;
    }
}

.carousel{
    padding: 35px;
}

.instagram{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    @media (min-width: $large){
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
    }
}

.flexIndex {
    display: flex;
    flex-direction: column;
    img {
        @include tamaño (100%, 100%);
    }

}

.img-2 {
    @include tamañoMaximo (300px, 300px);
    @media (min-width: $medium){
        @include tamañoMaximo (400px, 400px);
    }
    @media (min-width: $large){
        @include tamañoMaximo (500px, 500px);
    }
}
h3 {
    @extend %subtituloMobile;
    @media (min-width: $medium){
        font-size: $subtituloSizeTablet;
    }
    @media (min-width: $large){
        font-size: $subtituloSizeDesktop;
    }
}

/*quien soy
.quienSoy {
    background-image: url(../imagenes/background-quiensoy.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
.flexQuienSoy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    img {
        max-width: 100%;
        max-width: 200px;
    }
}
.parrafoQuienSoy {
    text-align: center;
    @extend %parrafoMobile;
    @media (min-width: $medium){
        font-size: $parrafoSizeTablet;
    }
    @media (min-width: $large){
        font-size: $parrafoSizeDesktop;
    }
}
.parrafoQuienSoy1 {
    @extend %parrafoMobile;
    @media (min-width: $medium){
        font-size: $parrafoSizeTablet;
    }
    @media (min-width: $large){
        font-size: $parrafoSizeDesktop;
    }
}
.parrafoQuienSoy2 {
    @extend %parrafoMobile;
    text-align: right;
    @media (min-width: $medium){
        font-size: $parrafoSizeTablet;
    }
    @media (min-width: $large){
        font-size: $parrafoSizeDesktop;
    }
}
.tituloQuienSoy {
    @extend %subtituloMobile;
    @media (min-width: $medium){
        font-size: $subtituloSizeTablet;
    }
    @media (min-width: $large){
        font-size: $subtituloSizeDesktop;
    }
}

.img-3 {
    max-width: 300px;
}*/


/*quien soy opción2*/
.quienSoy {
    background-image: url(../imagenes/background-quiensoy.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
.parrafoQuienSoy {
    text-align: center;
    @extend %parrafoMobile;
    @media (min-width: $medium){
        font-size: $parrafoSizeTablet;
    }
    @media (min-width: $large){
        font-size: $parrafoSizeDesktop;
    }
}
.parrafoQuienSoy1 {
    margin-left: 10px;
    @extend %parrafoMobile;
    @media (min-width: $medium){
        font-size: $parrafoSizeTablet;
        margin-left: 20px;
    }
    @media (min-width: $large){
        font-size: $parrafoSizeDesktop;
        margin-left: 30px;
    }
}
.parrafoQuienSoy2 {
    margin-right: 10px;
    @extend %parrafoMobile;
    text-align: right;
    @media (min-width: $medium){
        font-size: $parrafoSizeTablet;
        margin-right: 20px;
    }
    @media (min-width: $large){
        font-size: $parrafoSizeDesktop;
        margin-right: 30px;
    }
}
.parrafoQuienSoy3{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    @media (min-width: $medium){
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
    }
    @media (min-width: $large){
        margin-left: 200px;
        margin-right: 200px;
    }
}
.tituloQuienSoy {
    @extend %subtituloMobile;
    @media (min-width: $medium){
        font-size: $subtituloSizeTablet;
    }
    @media (min-width: $large){
        font-size: $subtituloSizeDesktop;
    }
}
.flexQuienSoy{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexQuienSoy2{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    @media (min-width: $medium){
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
    }
    @media (min-width: $large){
        margin-left: 100px;
        margin-right: 100px;
    }
    img {
        max-width: 100%;
        @include tamañoMaximo (100px,100px);
        @media (min-width: $medium){
            @include tamañoMaximo (200px,200px);
        }
        @media (min-width: $large){
            @include tamañoMaximo (350px,350px);
        }
    }
}

.img-3{
    max-width: 200px;
    @media (min-width: $medium){
        max-width: 300px;
    }
    @media (min-width: $large){
        max-width: 500px;
    }
}
.mapa{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    @media (min-width: $medium){
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
    }
    @media (min-width: $large){
        margin-left: 200px;
        margin-right: 200px;
    }
}


/*galería*/
.tituloGaleria {
    @extend %tituloMobile;
    @media (min-width: $medium){
        font-size: $tituloSizeTablet;
    }
    @media (min-width: $large){
        font-size: $tituloSizeDesktop;
    }
} 
.gridGaleriaMobile {
    @media (max-width: $medium){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
        margin-bottom: 15px;
    }
    img {
        @include tamaño (100%, 100%);
    }
    @media (min-width: $medium){
        display: none;
    }
    @media (min-width: $large){
        display: none;
    }
}

.gridGaleriaDesktop {
    @media (max-width: $medium){
        display: none;
    }

    @media (min-width: $medium){
        display: contents;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    @media (min-width: $large){
        display: contents;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    img{
        @include tamaño (100%, 100%);
    }
}

/*servicios*/

.servicios {
    background-image: url(../imagenes/background-servicios.png);
    background-size: cover;
}
.serviciosBoostrap{
    img{
        @include tamañoMaximo(150px,150px);
        @include tamañoMaximo(100%,100% );
        @media (min-width: $medium){
            @include tamañoMaximo(200px,200px)
        }
        @media (min-width: $large){
            @include tamañoMaximo(350px,350px)
        }
    }
}
.subtituloServicios1{
    @extend %subtituloMobile;
    @media (min-width:$medium){
        font-size: $subtituloSizeTablet;
    }
    @media (min-width:$large){
        font-size: $subtituloSizeDesktop;
    }
}
.parrafoServicios1{
    @extend %parrafoMobile;
    @media (min-width:$medium){
        font-size: $parrafoSizeTablet;
    }
    @media (min-width:$large){
        font-size: $parrafoSizeDesktop;
    }
}

/*agendar*/

.agendar {
    background-image: url(../imagenes/background-agendar.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.tituloAgendar {
    @extend %tituloMobile;
    margin-left: 10px;
    margin-right: 10px;
    @media (min-width: $medium){
        font-size: $tituloSizeTablet;
        margin-left: 30px;
        margin-right: 30px;
    }
    @media (min-width: $large){
        font-size: $tituloSizeDesktop;
    }
}
.divFormulario{
    margin-left: 10px;
    margin-right: 10px;
    @media(min-width: $medium){
        margin-left: 30px;
        margin-right: 30px;
    }
}
.formulario{
    border-radius:5px;
    &:focus{
        outline: 2px solid $main-color;
    }
}
.parrafoAgendar {
    @extend %subtituloMobile;
    @media (min-width: $medium){
        font-size: $parrafoSizeTablet;
    }
    @media (min-width: $large){
        font-size: $parrafoSizeDesktop;
    }
}

.button {
    font-family: $titulo;
    font-size: $tituloSizeDesktop;
    background-color:$main-color;
}