
@import "./fuentes";
@import "./reset";

/*variables*/
$titulo: 'Prata', serif;
$subtitulo: 'Quicksand', sans-serif;
$parrafo: 'Quicksand', sans-serif; 
/*titulo*/
$tituloSizeMobile:50px;
$tituloSizeTablet:100px;
$tituloSizeDesktop:150px;
$tituloSizexlarge:200px;
/*subtitulo*/
$subtituloSizeMobile:20px;
$subtituloSizeTablet:40px;
$subtituloSizeDesktop:60px;
$subtituloSizexlarge:80px;
/*párrafo*/
$parrafoSizeMobile:13px;
$parrafoSizeTablet:20px;
$parrafoSizeDesktop:30px;
$parrafoSizexlarge:40px;
/*colores*/
$main-color: #9061AC;
$color2: #b48ad1;
$color3: #d2e809;
/*breaking points*/
$small:481px;
$medium:768px;
$large:1021px;
$xlarge:1280px;

%tituloMobile{
    font-family: $titulo;
    font-size: $tituloSizeMobile;
    color: $main-color;
}
%subtituloMobile{
    font-family: $subtitulo;
    font-size: $subtituloSizeMobile;
    color: $main-color;
}
%parrafoMobile{
    font-family: $parrafo;
    font-size: $parrafoSizeMobile;
    color: $main-color;
}

@mixin tamaño ($ancho, $alto){
    width: $ancho;
    height: $alto;
}

@mixin tamañoMaximo ($maxancho, $maxalto){
    max-width: $maxancho;
    max-height: $maxalto;
}

/* header */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logo {
        opacity: 0.7;
        margin-left: 10px;
        &:hover{
            opacity: 1;
            transition: all 0.5s;
        }
        @media (min-width: $medium){
            scale: 140%;
        }
        @media (min-width: $large){
            scale: 170%;
        }
    }
    nav{
        .menu{
            @extend %parrafoMobile;
            list-style-type: none;
            @media (min-width: $medium){
                font-size: $parrafoSizeTablet;
            }
            @media (min-width: $large){
                font-size: $parrafoSizeDesktop;
            }
            li{
                padding-left: 25px;
                transform: scale(2s);
                a{
                    text-decoration: none;
                    color: $main-color;
                    &:hover{
                        color: $color3;
                        font-size: 120%;
                        transition: all 0.5s;
            }
        }
    }
        }
    }
}

/*footer*/
footer {
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .fa-instagram{
        color: $main-color;
    }
    .fa-angle-up {
        color: $main-color;
    }
    a{
        text-decoration: none;
    }
    .footer-1 {
        font-family: 'Prata', serif;
        font-size: 0.7cm;
        color:$main-color;
        @media (min-width: $medium){
            font-size: 30px;
        }
        @media (min-width: $large){
            font-size: 50px;
        }
    }
    .footer-2 {
        font-family: 'Quicksand', sans-serif;
        font-size: 0.3cm;
        color: $color2;
        @media (min-width: $medium){
            font-size: $parrafoSizeTablet;
        }
        @media (min-width: $large){
            font-size: $parrafoSizeDesktop;
        }
    }
    .footer-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: $medium){
            font-size: $parrafoSizeTablet;
        }
        @media (min-width: $large){
            font-size: $parrafoSizeDesktop;
        }
    }
    
}

/*index*/
.index {
    background-image: url("../imagenes/background-index.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.tituloIndex {
    @extend %tituloMobile;
    text-align: right;
    line-height: -5;
    @media (min-width: $medium){
        font-size: $tituloSizeTablet;
    }
    @media (min-width: $large){
        font-size: $tituloSizeDesktop;
    }
}
.subtituloIndex {
    @extend %subtituloMobile;
    text-align: right;
    @media (min-width: $medium){
        font-size: $subtituloSizeTablet;
    }
    @media (min-width: $large){
        font-size: $subtituloSizeDesktop;
    }
}

.parrafoPresentacion {
    @extend %parrafoMobile;
    @media (min-width: $medium){
        font-size: $parrafoSizeTablet;
    }
    @media (min-width: $large){
        font-size: $parrafoSizeDesktop;
    }
}

.flexIndex {
    display: flex;
    flex-direction: column;
    img {
        @include tamaño (100%, 100%);
    }

}
.img-1 {
    @include tamañoMaximo (300px, 300px);
    position: relative;
    top:-40px;
    @media (min-width: $medium){
        @include tamañoMaximo (600px, 600px);
        top:-60px;
        right: -60px;
    }
    @media (min-width: $large){
        @include tamañoMaximo (800px, 800px);
        top:-150px;
        right: -100px;
    }
}


.img-2 {
    @include tamañoMaximo (300px, 300px);
    @media (min-width: $medium){
        @include tamañoMaximo (400px, 400px);
    }
    @media (min-width: $large){
        @include tamañoMaximo (500px, 500px);
    }
}
h3 {
    @extend %subtituloMobile;
    @media (min-width: $medium){
        font-size: $subtituloSizeTablet;
    }
    @media (min-width: $large){
        font-size: $subtituloSizeDesktop;
    }
}

/*quien soy*/
.quienSoy {
    background-image: url(../imagenes/background-quiensoy.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
.parrafoQuienSoy {
    @extend %parrafoMobile;
    @media (min-width: $medium){
        font-size: $parrafoSizeTablet;
    }
    @media (min-width: $large){
        font-size: $parrafoSizeDesktop;
    }
}
.parrafoQuienSoy1 {
    @extend %parrafoMobile;
    @media (min-width: $medium){
        font-size: $parrafoSizeTablet;
    }
    @media (min-width: $large){
        font-size: $parrafoSizeDesktop;
    }
}
.parrafoQuienSoy2 {
    @extend %parrafoMobile;
    text-align: right;
    @media (min-width: $medium){
        font-size: $parrafoSizeTablet;
    }
    @media (min-width: $large){
        font-size: $parrafoSizeDesktop;
    }
}
.tituloQuienSoy {
    @extend %subtituloMobile;
    @media (min-width: $medium){
        font-size: $subtituloSizeTablet;
    }
    @media (min-width: $large){
        font-size: $subtituloSizeDesktop;
    }
}

.img-3 {
    max-width: 300px;
}

/*galería*/
.tituloGaleria {
    @extend %tituloMobile;
    @media (min-width: $medium){
        font-size: $tituloSizeTablet;
    }
    @media (min-width: $large){
        font-size: $tituloSizeDesktop;
    }
} 
.gridGaleriaMobile {
    @media (max-width: $medium){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
        margin-bottom: 15px;
    }
    img {
        @include tamaño (100%, 100%);
    }
    @media (min-width: $medium){
        display: none;
    }
    @media (min-width: $large){
        display: none;
    }
}

.gridGaleriaDesktop {
    @media (max-width: $medium){
        display: none;
    }

    @media (min-width: $medium){
        display: contents;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    @media (min-width: $large){
        display: contents;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    img{
        @include tamaño (100%, 100%);
    }
}

/*servicios*/

.servicios {
    background-image: url(../imagenes/background-servicios.png);
    background-size: cover;
}
.serviciosBoostrap{
    img{
        @include tamañoMaximo(150px,150px);
        @include tamañoMaximo(100%,100% );
        @media (min-width: $medium){
            @include tamañoMaximo(200px,200px)
        }
        @media (min-width: $large){
            @include tamañoMaximo(350px,350px)
        }
    }
}
.subtituloServicios1{
    @extend %subtituloMobile;
    @media (min-width:$medium){
        font-size: $subtituloSizeTablet;
    }
    @media (min-width:$large){
        font-size: $subtituloSizeDesktop;
    }
}
.parrafoServicios1{
    @extend %parrafoMobile;
    @media (min-width:$medium){
        font-size: $parrafoSizeTablet;
    }
    @media (min-width:$large){
        font-size: $parrafoSizeDesktop;
    }
}
/*.gridServicios1{
    font-family: $subtitulo;
    font-size:$subtituloSizeMobile;
    color: $main-color;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
        "foto1 subtituloServicios1"
        "foto1 parrafoServicios1"
        "foto1 parrafoPrecio1"
    img {
        @include tamaño (100%, 100%);   
    }
}
.img-9 {
    grid-area: foto1;
    margin-left: 15px;
    max-width: 350px;
    @include tamaño (100%, 100%); 
}
.subtituloServicios1 {
    grid-area: subtituloServicios1;
}
.parrafoServicios1 {
    grid-area: parrafoServicios1;
}
.parrafoPrecio1 {
    grid-area: parrafoPrecio1;
}*/

/*agendar*/

.agendar {
    background-image: url(../imagenes/background-agendar.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.tituloAgendar {
    @extend %tituloMobile;
    @media (min-width: $medium){
        font-size: $tituloSizeTablet;
    }
    @media (min-width: $large){
        font-size: $tituloSizeDesktop;
    }
}
.formulario{
    border-radius:5px;
    &:focus{
        outline: 2px solid $main-color;
    }
}
.parrafoAgendar {
    @extend %subtituloMobile;
    @media (min-width: $medium){
        font-size: $parrafoSizeTablet;
    }
    @media (min-width: $large){
        font-size: $parrafoSizeDesktop;
    }
}

.button {
    font-family: $titulo;
    font-size: $tituloSizeDesktop;
    background-color:$main-color;
}